@font-face {
    font-family: 'jinky';
    src: url('./fonts/jinky-webfont.woff2') format('woff2'),
         url('./fonts/jinky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'daniel';
    src: url('./fonts/daniel-regular-webfont.woff2') format('woff2'),
         url('./fonts/daniel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'danielbold';
    src: url('daniel-bold-webfont.woff2') format('woff2'),
         url('daniel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --gutter: 20px;
    --neutral-text-color: 	#36454F;
    --background-color: #eaeae8;
    --dialog-color: #f9f0cd;
    --light-blue: #adc4df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-text-color);
    font-family: "daniel", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    color: var(--neutral-text-color);
}

body {
    position: relative;
    background-color: var(--background-color);
    background-image: url(./images/squared-paper-texture.jpg);
    background-size: cover;
}

.message {
    font-size: 1.5rem;
    transform: rotate(-2deg);
    font-weight: 700;
}

.board {
    width: 80vmin;
    height: 80vmin;
    position: relative;
}

.board .line {
    position: absolute;
    width: 80vmin;
    height: auto;
    opacity: 0.9;
}

#h1 {
    top: 33.3%;
    transform: rotate(1deg);
}

#h2 {
    top: 66.6%;
    left: 1%;
    transform: rotate(-0.2deg);
}

img#v1 {
    transform: rotate(271deg);
    top: 49%;
    left: 16.66%;
}

img#v2 {
    transform: rotate(89.5deg);
    top: 51%;
    left: -16.66%;
}

.cells {
    background: transparent;
    display: grid;
    width: 80vmin;
    height: 80vmin;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cells button {
    font-size: calc(80vmin / 4);
    font-family: "jinky", 'Courier New', Courier, monospace;
    background: transparent;
    opacity: 0.9;
    border: none;
}

.board button :disabled {
    cursor: not-allowed;
}

dialog[open] {
    background-color: var(--dialog-color);
    padding: var(--gutter);
    position: fixed;
    inset: 0;
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

form {
    margin-top: var(--gutter);
    display: grid;
    grid-auto-flow: row;
    gap: var(--gutter);
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

label {
    grid-column: 1 / -1;
    font-size: 0.8rem;
}

input {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-text-color);
}