:root {
    --neutral-text-color: #000;
    --board-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-text-color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

body {
    position: relative;
}

.message {
    font-size: 2rem;
}

.board {
    width: 80vmin;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board button {
    width: calc(80vmin / 3);
    height: calc(80vmin / 3);
    font-size: calc(80vmin / 6);
    /* border: 1px solid gray; */
}

.board button :disabled {
    cursor: not-allowed;
}

dialog {
    position: fixed;
    inset: 0;
    margin: auto;
}