:root {
    --neutral-text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-text-color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}